# macOS
.DS_Store

# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo/React Native
.expo
.expo-shared
*.expo/*
*.keystore
app/.env*
app/.env.local

# Backend env
api/.env
api/.env.local

# Build
dist
build
